@use '../../../../assets/styles/index.scss' as *;

.container {
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 40px;
    color: #000;
}

.cardImg {
    width: 100%;
    border-radius: 13px;
    margin-bottom: 15px;
}

.author {
    color: #7D7D7D;

font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 15px;
}

.title {
    color: #000;

font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 15px;
}

.cardBottom {
    display: flex;
    justify-content: space-between;

    ul {
        list-style-type: disc;
        color: #FF8484;
        margin-left: 1em;
        font-weight: 500;
    }
    div {
        .sale {
            color: white;
            background-color: #FF8484;
            padding: 0.2em 0.5em;
            border-radius: 40%;
            font-size: 11px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        span {
            &.price {
                color: #000;
                display: block;
                font-family: Montserrat;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                position: relative;
                &::after {
                    content: attr(data-full-price);
                    position: absolute;
                    top: 100%;
                    left: 30%;
                    color: #848484;
                    text-decoration: line-through;
                    text-decoration-color: #FF8484;
                    font-family: Montserrat;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}