@use '../../../assets/styles/index.scss' as *;

.header{
    @include horizontal-padding;
    padding-top: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    color: black;

    .left{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
        .leftContent {
            display: flex;
            align-items: center;
            gap: 0.25em;
        }
    }

    .right{
        display: flex;
        align-items: center;
        gap: 50px;
        .list{
            p{
                font-size: 17px;
                padding: rm(0) rm(20);
                transition: border-color .7s ease-in-out;

                &:hover{
                    border-color: rgba($color: red, $alpha: 0);
                }
            }
        }

        .input{
            position: relative;

            img{
                position: absolute;
                width: rm(30);
                height: rm(30);
                top: rm(10);
                left: rm(-35);
            }

            input{
                border: none;
                background: none;
                border-bottom: 2px red solid;
                padding-bottom: rm(13);
                padding-top: rm(13);
                font-size: font(20);
                color: white;
                transition: border-color .7s ease-in-out;

                &:focus{
                    border-color: rgba($color: red, $alpha: 0);
                }
            }
        }
    }
}