@use '../../../assets/styles/index.scss' as *;

.first{
    height: 100vh;
    width: 100%;
    position: relative;
}

.mixes {
    width: 100vw;
    text-align: center;

    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-block: 0.6em;
    color: white;
    background-color: black;
}